.DS_Store
.RData
.RHistory
*lock*
packrat/lib*/
.Rproj.user
*.aux
*.blg
*.log
*.synctex*
*.fls
*fdb_latexmk*
*TSWLatexianTemp*
Interspeech/*.pdf
*.ent
*.out
*.bbl
*.ttt
*.lof
*.lot
*.nav
*.snm
*.toc
*minted*
*.wav
*.TextGrid
*dspcon*